body
{
    background:#1b1b1b;
    color:#f4f4f4;
}

nav a
{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

main
{
    padding:50px 8%;
}

.title
{
    text-align:center;
    margin-bottom:35px;
}

.title h1
{
    color:#c0392b;
    font-size:38px;
}

.filters
{
    background:#2a2a2a;
    padding:25px;
    border-radius:10px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.filters form
{
    display:flex;
    gap:15px;
    width:100%;
}

.filters input,
.filters select
{
    padding:12px;
    background:#1b1b1b;
    color:white;
    border:1px solid #555;
    border-radius:6px;
    flex:1;
    min-width:200px;
}

.filters button
{
    background:#c0392b;
    border:none;
    color:white;
    padding:12px 25px;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
}

.filters button:hover
{
    background:#e74c3c;
}

.movie-grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit, 300px);
    gap:25px;
    justify-content:center;
}

.movie-card
{
    width:300px;
    background:#2a2a2a;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
}

.poster
{
    aspect-ratio: 2 / 3;
    background:#333;
    overflow:hidden;
}

.poster img
{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.movie-info
{
    padding:20px;
}

.movie-info h2
{
    color:#e74c3c;
    margin-bottom:10px;
    font-size:22px;
}

.movie-info p
{
    color:#ccc;
    margin-bottom:8px;
}

.rating
{
    color:#f1c40f;
    font-weight:bold;
    margin:10px 0;
}

.details-btn
{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#c0392b;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
}

.details-btn:hover
{
    background:#e74c3c;
}

footer
{
    background:#111;
    padding:20px;
    text-align:center;
    color:#aaa;
    border-top:2px solid #c0392b;
    margin-top:50px;
}