<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/movies.css">
    <title>MovieHub | Movies</title>
</head>

<body>

<header>

    <div class="logo">MovieHub</div>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Watchlist</a></li>
            <li><a href="#">My Reviews</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>

</header>

<main>

    <div class="title">
        <h1>Movie Catalog</h1>
    </div>

    <section class="filters">

        <input type="text" placeholder="Search movies...">

        <select>
            <option>All Genres</option>
            <option>Action</option>
            <option>Comedy</option>
            <option>Drama</option>
            <option>Horror</option>
            <option>Sci-Fi</option>
        </select>

        <button> Search </button>

    </section>

    <section class="movie-grid">

        <div class="movie-card">

            <div class="poster">
                <img src="/images/DisclosureDay.jpg" alt="Movie Poster">
            </div>

            <div class="movie-info">

                <h2>Disclosure Day</h2>

                <p> Director: Steven Spielberg </p>

                <p> Genre: Sci-Fi </p>

                <p> Year: 2026 </p>

                <p class="rating"> ★ 8/10 </p>

                <a href="#" class="details-btn"> View Details </a>

            </div>

        </div>

        <div class="movie-card">

            <div class="poster">
                <img src="/images/Interstellar.webp" alt="Movie Poster">
            </div>

            <div class="movie-info">

                <h2>Interstellar</h2>

                <p> Director: Christopher Nolan </p>

                <p> Genre: Adventure </p>

                <p> Year: 2014 </p>

                <p class="rating"> ★ 10/10 </p>

                <a href="#" class="details-btn"> View Details </a>

            </div>

        </div>

        <div class="movie-card">

            <div class="poster">
                <img src="/images/TheDarkKnight.jpg" alt="Movie Poster">
            </div>

            <div class="movie-info">

                <h2>The Dark Knight</h2>

                <p> Director: Christopher Nolan </p>

                <p> Genre: Action </p>

                <p> Year: 2008 </p>

                <p class="rating"> ★ 9/10 </p>

                <a href="#" class="details-btn"> View Details </a>

            </div>

        </div>

    </section>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>